#header {
         bacground-color:rgb(0,47,11);
         color:white;
         text-align:center;
         font-size:30px;
         line-height:60px;
         height:60px;
 }
 #conteiner {
            bacground-color:rgb(250,250,249);
            overflow:hidden;
 }
 #nov {
          
 }
         
